{% load staticfiles %}
<html>
<head>
    <title>A Study on Image-Based Password Schemes</title>
    <meta charset="UTF-8">
    <meta property="og:title" content="A Study on Image-Based Password Schemes">
    <meta property="og:description" content="Brandon Chinn's Inquiry 4 assignment for UGIS 188">
    <!--
    <meta property="og:image" content="{% static 'img/fb-logo.jpg' %}">
    <meta property="og:url" content="http://muchmeme-verysurvey.herokuapp.com">
    -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>A Study on Image-Based Password Schemes</h1>
        <p>UC Berkeley: UGIS 188, Fall 2016</p>
        <p>Brandon Chinn</p>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>Favicon by <a href="https://www.iconfinder.com/designmodo">Designmodo</a>, licensed under CC BY 3.0. Study based on research done by <a href="http://dl.acm.org/citation.cfm?id=2517319">J. Blocki et al (2013)</a>. Full research proposal <a href="{% static 'proposal.pdf' %}">here</a>.</p>
    </footer>
</body>
</html>
