{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_verify.css' %}">
    <script src="{% static 'js/login_verify.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <p>Select the label you wrote for each image. If you don't recognize any of the images, it might be because you provided the wrong password.</p>
    <form method="post">
        {% csrf_token %}
        {% for image in images %}
            <div class="image">
                <svg width="{{ svg_width }}" height="{{ svg_height }}">
                    <rect width="100%" height="100%" fill="#FFF" />
                    {% for ellipse in image %}
                        <ellipse
                            cx="{{ ellipse.x }}"
                            cy="{{ ellipse.y }}"
                            rx="{{ ellipse.width }}"
                            ry="{{ ellipse.height }}"
                            fill="{{ ellipse.color }}"
                            {% if ellipse.is_rotate %}
                                transform="rotate({{ ellipse.rotation }}, {{ ellipse.x }}, {{ ellipse.y }})"
                            {% endif %}
                        />
                    {% endfor %}
                </svg>
                <div class="labels">
                    {% with i=forloop.counter0 %}
                        {% for label in labels %}
                            <input type="radio" name="label-{{ i }}" value="{{ label.number }}">
                            <div class="label"><label>{{ label.text }}</label></div>
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
        <div class="buttons">
            <button class="submit">Submit</button>
            <button class="cancel">Cancel</button>
        </div>
    </form>
{% endblock %}
