@import "vars";

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, ul, li, label, form, input, textarea, button,
header, footer, td, th, pre {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    box-sizing: border-box; // padding included in width
}

body {
    padding: 20px;
    padding-bottom: 50px; // leave room for footer
    background: $blue;
    min-height: 100%;
    min-width: 940px;
    font-size: 18px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

p {
    margin-bottom: 5px;
    line-height: 1.2em;
}

ul {
    list-style: none;
}

label {
    display: inline-block;
    width: 90px;
    margin-right: 5px;
    vertical-align: middle;
}

input {
    vertical-align: middle;
    padding: 2px 5px 0;
    width: 250px;
    &[type=radio], &[type=checkbox] {
        width: initial;
    }
}

button {
    margin: 0 5px;
    padding: 7px 20px 5px;
    background: $blue;
    color: $white;
    border: 3px solid $blue;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.2s, background 0.2s;
    outline: 0;
    &:hover {
        background: $white;
        color: $blue;
    }
}

header {
    margin-bottom: 30px;
    color: $white;
    text-transform: uppercase;
    h1 {
        font-family: "Oswald";
        font-size: 2em;
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 0.9em;
    a {
        color: $white;
        &:hover {
            color: $off-white;
        }
    }
}

.content {
    background: $white;
    padding: 30px;
    color: $black;
    width: 900px;
    margin: 0 auto;
    border: 2px ridge $off-white;
    a {
        color: $blue;
        &:hover {
            color: lighten($blue, 10);
        }
    }
    form {
        text-align: center;
        .field {
            margin-bottom: 10px;
        }
        .help-text {
            margin-bottom: 10px;
            font-style: italic;
            font-size: 0.9em;
        }
        button.cancel {
            background: $red;
            border-color: $red;
            &:hover {
                color: $red;
                background: $white;
            }
        }
    }
    .errors {
        margin: 10px 0;
        color: $red;
    }
}
