@import "vars";

.content {
    text-align: center;
    p.explanation {
        text-align: left;
    }
    .image {
        display: inline-block;
        margin: 20px;
        vertical-align: top;
        svg {
            display: block;
            margin: 10px auto;
        }
    }
    .error {
        margin-top: 5px;
        color: $red;
    }
}
